body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #667eea 0%,
    #764ba2 25%,
    #870f94 50%,
    #764ba2 75%,
    #667eea 100%
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.navbar {
  backdrop-filter: blur(10px);
  background-color: rgba(33, 37, 41, 0.9) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logout-btn {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.3s;
  border-radius: 25px;
}
.logout-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #764ba2 0%, #870f94 100%);
  border-color: rgba(255, 255, 255, 0.5) rgb(156, 160, 95);
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .display-4 {
    font-size: 2.5rem;
  }

  .balance-display {
    margin-right: 1rem !important;
  }
}
.cart-items {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
  backdrop-filter: blur(10px);
  width: 90%;
  height: auto;
}
.cart-items img {
  width: 150px;
}
.productDelete-popup , .success-notenough-balance {
  position: fixed;
  top: 100px;
  right: -500px;
  padding: 15px 25px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 10px;
}

.productDelete-popup.show , .success-notenough-balance.show {
  right: 20px;
}

.productDelete-popup.success , .success-notenough-balance.success {
  background: rgba(40, 167, 69, 0.7);
  border-color: rgba(255, 255, 255, 0.5);
}
.success-notenough-balance.error {
  background: rgba(217, 67, 51, 0.7);
  border-color: rgba(255, 255, 255, 0.5);
}
.checkout-btn {
  background: linear-gradient(135deg, #69ec23 0%, #6dc375 100%);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.4s;
  border-radius: 25px;
}
.checkout-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #05440a 0%, #0cac14 100%);
  border-color: rgba(255, 255, 255, 0.5) rgb(156, 160, 95);
}